name: master

on:
  push:
    branches: [ master ]

jobs:
  build_test_windows:
    name: Run build and test [Windows]
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Run test
        run: |
          $env:PersonalAccessToken = "${{ secrets.ACCESS_TOKEN }}"
          dotnet test test/

  build_test_mac:
    name: Run build and test [macOS]
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Run test
        run: |
          export PersonalAccessToken="${{ secrets.ACCESS_TOKEN }}"
          dotnet test test/

  build_test_linux:
    name: Run build and test [Linux]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Run test
        run: |
          export PersonalAccessToken="${{ secrets.ACCESS_TOKEN }}"
          dotnet test test/

  publish_nuget:
    name: Publish NuGet package
    runs-on: ubuntu-latest
    needs: [build_test_mac, build_test_linux, build_test_windows]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup environment variables
        run: |
          MAJOR_VERSION=$(cat VERSION)
          APP_VERSION="${MAJOR_VERSION}.${{ github.run_number }}.0"
          echo "APP_VERSION=$APP_VERSION" >> $GITHUB_ENV
          echo "Building version: $APP_VERSION"

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Publish NuGet package
        shell: pwsh
        run: |
          $env:NugetApiKey = "${{ secrets.NUGET_API_KEY }}"
          ./pack.ps1 ${{ env.APP_VERSION }}